body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.currency-dropdown {
  background-color: transparent;
  padding: 8px 16px;
  border: none;
  color: #fff;
}

.currency-dropdown option:hover {
  background-color: #fff;
}

.alert.currency-wrapper {
  color: #fff;
  background-color: rgb(118,210,118);
}

.currency-dropdown-option {
  font-size: 20px;
  background-color: rgb(118,210,118);
  padding: 16px
}

.currency-dropdown-option:hover {
  background-color: rgb(255,255,255);
}